<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>817265633421-14cjb376fqg4fv1kbskb8ea94bej6lat.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoBCFxgPeqH8MC6JQcnclkDwpCfajjHew</string>
	<key>GCM_SENDER_ID</key>
	<string>817265633421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abamadevelopers.pushApp</string>
	<key>PROJECT_ID</key>
	<string>cheap-food-3dc88</string>
	<key>STORAGE_BUCKET</key>
	<string>cheap-food-3dc88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817265633421:ios:e080cebdcb888090dcdac4</string>
	<key>DATABASE_URL</key>
	<string>https://cheap-food-3dc88.firebaseio.com</string>
</dict>
</plist>